.vs/
*.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

bin/
obj/
out/

*.nupkg
*.snupkg
*.nuspec
packages/

*.log
*.tlog
*.psess
*.vsp
*.vspx

_ReSharper*/
*.DotSettings.user
.idea/

.vscode/

ScaffoldingReadMe.txt

*.tmp
*.temp
*.cache
*.bak

*.dbmdl
*.mdf
*.ldf

*.env

*.vspscc
*.vssscc
*.pdb
